<div class = "hero-unit">

	<h4>Set player name below</h4>

	<form action = '/user_name_form' method = 'post'>
		Name: <input type = 'game'/ name = 'user_name'>
		<br/>
		<br/>
		<input type = 'submit' class = "btn btn-primary btn-large" />
	</form>

</div>